@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";

    var cars = ViewData["Cars"] as List<Car>;

    if (cars == null)
    {
        cars = new List<Car>();
    }
}

<div style="position: relative;">

    <img src="~/img/CarSalesIntro.png" alt="Intro Image" width="100%">

    <div class="text-center" style="position: absolute; top: 0; right: 0; width: 50%; height: 100%;padding: 20px;">
        <h3 class="display-4">Данный сайт предоставляет продажу техники!</h3>
        <p>Перейдите на вкладку <a href="/cars">Магазин</a>, чтобы посмотреть список доступных машин.</p>

        <ol>
            <li>Большой каталог автомобилей</li>
            <li>Удобная фильтрация</li>
            <li>Подробные описания автомобилей</li>
            <li>Фотографии и видео</li>
            <li>Удобная система поиска</li>
            <li>Возможность сравнения</li>
            <li>Отзывы и рейтинги</li>
        </ol>
    </div>
</div>

<div>
    <div class="row mt-3">
        <div class="col-12">
            <form action="/search" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Введите марку, модель или характеристики"
                        name="search">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <h2 class="m-2">Свежие новинки!</h2>

    <div class="latest-cars">
        @foreach (var car in cars)
        {
            <div class="latest-car">
                <img src="@car.IconPreview" alt="Car Image" class="last-cars-preview">
                <h6 class="mt-2">@car.BrandCar.Name @car.ModelCar</h6>
                <h6 class="mt-2">@car.TypeCar.Name</h6>
                <p>@(car.Price.ToString("N0")) р.</p>
                <a href="#" class="btn btn-primary mt-2">Подробнее</a>
            </div>
        }
    </div>

</div>